* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: "Martel", serif;
  overflow: hidden;
}

.mySwiper {
  display: flex;
  width: 85% !important;
  height: 280px;
}

.swiper-pagination {
  padding: 25px;
  display: flex;
  padding-left: 10px;
}

.swiper-pagination-bullet {
  background: rgb(209 213 219);
  border-radius: 50% !important;
  opacity: 1;
  height: 10px !important;
  width: 10px !important;
}

.swiper-pagination-bullet-active {
  background: orange;
  border-radius: 40% !important;
  height: 10px !important;
  width: 15px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 250px;
    height: auto;
  }
}

.card {
  width: 414px;
  border-radius: 5px;
  height: 254px;
  box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.2);
  background: #3e3637 !important;
}

.content {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  font-style: italic;
  font-family: Roboto;
  color: #e4e3de;
}

.category {
  font-weight: 400;
  margin-left: 20px;
  font-size: 14px;
  line-height: 28px;
  font-style: italic;
  font-family: Roboto;
  color: #e4e3de;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  font-family: Roboto;
  color: #e4e3de;
}

.updates {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  font-family: Roboto;
  color: #e4e3de;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 60%;
  background-position: center;
}

.container {
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: #000;
  display: block;
}

.container .swiper-container {
  width: 70%;
  position: absolute;
  left: 50%;
  bottom: -16vw;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  padding-bottom: 3vw;
}

@media (max-width: 768px) {
  .container .swiper-container {
    bottom: -58vw;
    padding-bottom: 8vw;
  }
}

.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
}
